<!doctype html>
<html lang="en">
     <head>
      <title>Bug_buster</title>
      <link rel="stylesheet" type="text/css" href="http://yegor256.github.io/tacit/tacit.min.css"/>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
        <body>
               {{>navbar.hbs}}
                  <section>
                     <hr />
                     {{#each applist}}
                        <a href="/v1/app/{{this}}">{{this}}</a><br />
                     {{/each}}
                  </section>
        </body>
</html>