<!doctype html>
<html lang="en">
{{>header.hbs}}
<body>
{{>navbar.hbs}}
<section>
    <hr/>
    {{#each applist}}
        <a href="/v1/app/{{this}}">{{this}}</a><br/>
    {{/each}}
</section>
</body>
</html>