<!doctype html>
<html lang="en">
{{>header.hbs}}
<body>
<section>
    <form action="/create-user" method="post">
        User name <input name="username" type="text"/>
        Password <input name="password" type="password"/>
        Password again<input name="password-again" type="password"/>
        <button type="submit">Create User</button>
    </form>
</section>
</body>
</html>