<!doctype html>
<html lang="en">
     <head>
      <title>Bug_buster</title>
      <link rel="stylesheet" type="text/css" href="http://yegor256.github.io/tacit/tacit.min.css"/>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>
    <section>
        <form action='/v1/bugSave' method='POST'>
                    <label>Title</label>
                    <input type='text' name='title' value='{{title}}' style='width:80%;' />

                    <input type='hidden' name='id' value='{{path}}'  />
                    <br />
                    <label>Body</label>
                    <textarea name='body' style='width:80%;height:35%;'> {{body}} </textarea>
                    <br />
                    <label>Tags</label>
                    <input type='text' name='tags' value='{{tags}}' style='width:80%;'/>
                    <br /><button>Save</button>
                    &nbsp;</section>

    </body>