<!doctype html>
<html lang="en">
{{>header.hbs}}
<script>
         $(document).ready(function(){
              $("#searchbutton").click(function() {$("#search").toggle();})
              $("#createapp").click(function() {$("#create").toggle();})
         });


</script>
<body>
{{>navbar.hbs}}
<section>
    <hr>
    <button onclick="window.location.href='/v1/app'">See all apps</button>
    <hr/>
    <button id="searchbutton">Search</button>
    <section id="search" style="display:none;">
        <form action="/v1/search">Search <input name="appname" type="text"/>
            <button type="submit">Go</button>
        </form>
    </section>
    <hr/>
    <button id="createapp">Create App</button>
    <section id="create" style="display:none;">
        <form action="/v1/create-app"> App name <input name="appname" type="text"/>
            <button type="submit">Create</button>
        </form>
    </section>
</section>
{{>footer.hbs}}
</body>
</html>