<!doctype html>
<html lang="en">
{{>header.hbs}}
<body>
<nav>Bug_buster</nav>
<section>
    <form action="/login" method="post">
        User name <input name="username" type="text"/>
        Password <input name="password" type="password"/>
        <button type="submit">Login</button>
        <br/>
        Click <a href="/create-user">here</a> to create user.
    </form>
</section>
</body>
</html>