<!doctype html>
<html lang="en">
     <head>
      <title>Bug_buster</title>
      <link rel="stylesheet" type="text/css" href="http://yegor256.github.io/tacit/tacit.min.css"/>
      <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    </head>
        <body>
               <nav>Bug_buster</nav>
                  <section>
                   <form action="/login" method="post">
                            User name <input name="username" type="text"/>
                            Password <input name="password" type="password"/>
                          <button type="submit">Login</button>
                          <br />
                          Click <a href="/create-user">here</a> to create user.
                  </form>
                  </section>
        </body>
</html>